name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # Django 3.2
          - django-version: "3.2.0"
            python-version: "3.6"
          - django-version: "3.2.0"
            python-version: "3.7"
          - django-version: "3.2.0"
            python-version: "3.8"
          - django-version: "3.2.0"
            python-version: "3.9"
          - django-version: "3.2.0"
            python-version: "3.10"
          # Django 4.0
          - django-version: "4.0.0"
            python-version: "3.8"
          - django-version: "4.0.0"
            python-version: "3.9"
          - django-version: "4.0.0"
            python-version: "3.10"
          # Django 4.1
          - django-version: "4.1.0"
            python-version: "3.8"
          - django-version: "4.1.0"
            python-version: "3.9"
          - django-version: "4.1.0"
            python-version: "3.10"
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade -r requirements.txt
        pip install django~=${{ matrix.django-version }}
        pip install .
    - name: Run tests
      run: |
        coverage run --source herald runtests.py -v 2
    - name: Report coverage to Codecov
      uses: codecov/codecov-action@v1
